[submodule "Unity/Assets/vr_scenes"]
	path = Unity/Assets/vr_scenes
	url = https://github.com/WheelSims/vr_scenes.git
[submodule "Unity/Assets/vr_static_objects"]
	path = Unity/Assets/vr_static_objects
	url = https://github.com/WheelSims/vr_static_objects.git
[submodule "Unity/Assets/vr_temp_dynamic_objects"]
	path = Unity/Assets/vr_temp_dynamic_objects
	url = https://github.com/WheelSims/vr_temp_dynamic_objects.git
[submodule "Unity/Assets/vr_user"]
	path = Unity/Assets/vr_user
	url = https://github.com/WheelSims/vr_user.git
[submodule "Unity/Assets/vr_street_lights"]
	path = Unity/Assets/vr_street_lights
	url = https://github.com/WheelSims/vr_street_lights.git
[submodule "Haptics/haptics_common"]
	path = Haptics/haptics_common
	url = https://github.com/WheelSims/haptics_common.git
[submodule "Unity/vr_art_source"]
	path = Unity/vr_art_source
	url = https://github.com/WheelSims/vr_art_source.git
[submodule "Unity/Assets/vr_native_websocket"]
	path = Unity/Assets/vr_native_websocket
	url = https://github.com/WheelSims/vr_native_websocket.git
